body{
    background:linear-gradient(#096B68,#129990 );
    margin: 20px 20px;
    color: #333;
    text-align: center;
}
main{
    
    background-image: url(../img/imagen1..jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header-content{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px 5px;
    display: inline-block;
    
}
h1{
    padding: 10px 60px;
    border-bottom: #FFFBDE 1px solid;
}
h2{
    font-size: 20px;
    color: #444;
}
.fondo{
    max-width: 500px;
}
.perfil{
    border-radius: 25%;
    max-width: 200px;
}
.content div{
padding: 200px;
}
p{
    background-color: #FFFBDE;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    border-radius: 5px;
    width: fit-content;
}
h3{
    font-size: 18px;
    margin-top: 20px;

}